.heroSec {
    position: relative;
    height: 100vh;
    background-image: url('/geekfood_bg.avif'); 
    background-size: cover;
    background-position: center;
    
    /* background-attachment: fixed;  */
  }
  
  .heroOverlay {
    position: absolute;
    top: 30%;
    left: 10%;
    color: #070707;
    /* background-color: rgba(255, 255, 255, 0.85); */
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
  }
  
  .heroOverlay h1 {
    font-size: 3rem;
    font-weight: 900;
    line-height: 1.2;
    text-shadow: 1px 1px 0 rgb(2, 2, 2);
  }
  
  .highlight {
    color: #d81159;
  }
  
  .heroOverlay p {
    margin: 15px 0;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
  }
  
  .hero-buttons {
    display: flex;
    gap: 10px;
  }
  
  .btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
  }
  
  .search-btn {
    background-color: #d81159;
    color: #fff;
    font-weight: 700;
  }
  
  .search-btn:hover {
    background-color: #a40e47;
  }
  
  .know-more-btn {
    background-color: #fff;
    color: #a40e47;
    font-weight: 700;
    /* border: 1px solid #333; */
  }
  
  .know-more-btn:hover {
    background-color: #333;
    color: #fff;
  }
  
  /* Responsive hero section */
  @media screen and (max-width: 768px) {
    .heroOverlay {
      top: 20%;
      left: 5%;
      padding: 20px;
    }
  
    .heroOverlay h1 {
      font-size: 1.8rem;
    }
  
    .heroOverlay p {
      font-size: 0.9rem;
    }
  
    .hero-buttons {
      flex-direction: column;
    }
  }
  